.hide {
    display:none;
}

#mesboutons {
  text-align: center;
}


table input[type=number] {
    width: 94%;
    -moz-appearance: textfield;
}

table, table caption
{
    margin: auto;
}

table
{
    border: #000000 2px solid;
    border-collapse: collapse;
    border-spacing: 2px;
    width: 80%;
}

table caption
{
    background-color: #DDEEFF;
	}

table th
{
    color: #503500;
    background-color: #FFCC66;
    border: #000000 1px solid;
    font-size: 1.8em;
    font-weight: light;
    width: 20%;
}

table td
{
    border: #000000 1px solid;
    text-align: right;
}

table #tr2 td
{
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    width: 20%;
}

table #tr3 td
{
    text-align: center;
    color: #503500;
    background-color: #FFCC66;
    border: #000000 1px solid;
    font-weight: bold;
    font-size: 1em;
    width: 6.66%;
}

table #tr4 td
{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 6.66%;
}

table #tr5 td
{
    text-align: center;
    color: #503500;
    background-color: #FFCC66;
    border: #000000 1px solid;
    font-weight: bold;
    font-size: 1em;
    width: 6.66%;
}

table #tr6 td
{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 6.66%;

}

input[name="reponse"] {
    margin-bottom: 1%;
}

input[name="valider"] {
    position: relative;
}

input[name="aidebutton1"] {
    position: absolute;
    left: 1.5%;
}

input[name="nextone"] {
    position: absolute;
    right: 1.5%;
}

legend[name="atoidejouer"] {
    background-color: #ffcc666c;
    font-size: 120%;
}

legend[name="aide"] {
    background-color: #ffcc666c;
    font-size: 140%;
}

fieldset {
    margin-bottom: 1%;
}

fieldset[id="aide"] {
    padding-bottom: 4%;
}